<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933038733461-2rpir9tagfno0ehjoesd1r1so1i6n6er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933038733461-2rpir9tagfno0ehjoesd1r1so1i6n6er</string>
	<key>API_KEY</key>
	<string>AIzaSyCUBV8kTwtXnxTkJV_8jLyyUHL7_GDpzP0</string>
	<key>GCM_SENDER_ID</key>
	<string>933038733461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dootvball.bongdalivek9</string>
	<key>PROJECT_ID</key>
	<string>big-soccer</string>
	<key>STORAGE_BUCKET</key>
	<string>big-soccer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933038733461:ios:d3a57e311f7bcf3609839c</string>
</dict>
</plist>